{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure                                      {:mvn/version "1.12.0"}
  ring/ring-core                                            {:mvn/version "1.12.2"}
  ring/ring-jetty-adapter                                   {:mvn/version "1.12.2"}
  ring/ring-json                                            {:mvn/version "0.5.1"}
  metosin/reitit                                            {:mvn/version "0.7.2"}
  metosin/reitit-ring                                       {:mvn/version "0.7.2"}
  metosin/reitit-swagger                                    {:mvn/version "0.7.2"}
  metosin/reitit-malli                                      {:mvn/version "0.7.2"}
  metosin/malli                                             {:mvn/version "0.16.4"}
  metosin/muuntaja                                          {:mvn/version "0.6.10"}
  com.github.docker-java/docker-java-core                   {:mvn/version "3.4.1"}
  com.github.docker-java/docker-java-transport-httpclient5  {:mvn/version "3.4.1"}
  aero/aero                                                 {:mvn/version "1.1.6"}
  hiccup/hiccup                                             {:mvn/version "2.0.0-RC4"}
  org.clojure/tools.logging                                 {:mvn/version "1.3.0"}
  ch.qos.logback/logback-classic                            {:mvn/version "1.5.6"}
  org.clojure/data.json                                     {:mvn/version "2.5.1"}}

 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {nrepl/nrepl       {:mvn/version "1.3.0"}
                     cider/cider-nrepl {:mvn/version "0.50.2"}}}
  :run {:main-opts ["-m" "hammar.core"]}}}
