{:server {:port 7070
          :host "0.0.0.0"}

 :hosts [{:label "megalodon"
          :docker-uri "unix:///var/run/docker.sock"}
         {:label "prognathodon"
          :docker-uri "tcp://localhost:2375"}]

 :gc {:interval-seconds 30
      :own-host "megalodon"}

 :compose {:project "smithr"
           :network "smithr-network"}

 ;; SSH tunnel settings for leases
 :tunnel {:key-path "/ssh-key/macos-ssh-key"
          :base-port 17000}}
